@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html {
  background:  url(http://1.media.dorkly.cvcdn.com/58/90/907bceee75b8b26eb5688939544ca8a8.gif) no-repeat center center fixed;
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}
